pdf2image
langchain
langchain-core
langchain-ollama
langchain-openai
langchain-community
python-dotenv
openai
transformers
matplotlib
pandas
tiktoken
scikit-learn
datasets
opencv-python-headless
Markdown
markdownify
pymupdf
Jinja2
jsonlines